{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{# Styles moved to theme SCSS: _105.1.product.scss #}
{% block stylesheet %}{% endblock %}


{% block javascript %}
    <script>
        eccube.classCategories = {{ class_categories_as_json(Product)|raw }};

        // 規格2に選択肢を割り当てる。
        function fnSetClassCategories(form, classcat_id2_selected) {
            var $form = $(form);
            var product_id = $form.find('input[name=product_id]').val();
            var $sele1 = $form.find('select[name=classcategory_id1]');
            var $sele2 = $form.find('select[name=classcategory_id2]');
            eccube.setClassCategories($form, product_id, $sele1, $sele2, classcat_id2_selected);
        }

        {% if form.classcategory_id2 is defined %}
        fnSetClassCategories(
            $('#form1'), {{ form.classcategory_id2.vars.value|json_encode|raw }}
        );
        {% elseif form.classcategory_id1 is defined %}
        eccube.checkStock($('#form1'), {{ Product.id }}, {{ form.classcategory_id1.vars.value|json_encode|raw }}, null);
        {% endif %}
    </script>
    <script>
        $(function() {
            // bfcache無効化
            $(window).bind('pageshow', function(event) {
                if (event.originalEvent.persisted) {
                    location.reload(true);
                }
            });

            $('.item_visual').slick({
                dots: false,
                arrows: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        dots: true
                    }
                }]
            });

            $('.slideThumb').on('click', function() {
                var index = $(this).attr('data-index');
                $('.item_visual').slick('slickGoTo', index, false);
            })
        });
    </script>
    <script>
        $(function() {
            $('.add-cart').on('click', function(event) {
//                {% if form.classcategory_id1 is defined %}
//                // 規格1フォームの必須チェック
//                if ($('#classcategory_id1').val() == '__unselected' || $('#classcategory_id1').val() == '') {
//                    $('#classcategory_id1')[0].setCustomValidity('{{ '項目が選択されていません'|trans }}');
//                    return true;
//                } else {
//                    $('#classcategory_id1')[0].setCustomValidity('');
//                }
//                {% endif %}
//
//                {% if form.classcategory_id2 is defined %}
//                // 規格2フォームの必須チェック
//                if ($('#classcategory_id2').val() == '__unselected' || $('#classcategory_id2').val() == '') {
//                    $('#classcategory_id2')[0].setCustomValidity('{{ '項目が選択されていません'|trans }}');
//                    return true;
//                } else {
//                    $('#classcategory_id2')[0].setCustomValidity('');
//                }
//                {% endif %}
//
//                // 個数フォームのチェック
//                if ($('#quantity').val() < 1) {
//                    $('#quantity')[0].setCustomValidity('{{ '1以上で入力してください。'|trans }}');
//                    return true;
//                } else {
//                    $('#quantity')[0].setCustomValidity('');
//                }

                var id = $(this).attr('id').replace("pc_", "");
                $('#ProductClass').val(id);

                event.preventDefault();
                $form = $('#form1');
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: $form.serialize(),
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        // Buttonを無効にする
                        $('.add-cart').prop('disabled', true);
                    }
                }).done(function(data) {
                    // レスポンス内のメッセージをalertで表示
                    $.each(data.messages, function() {
                        $('#ec-modal-header').html(this);
                    });

                    $('.ec-modal').show()

                    // カートブロックを更新する
                    $.ajax({
                        url: "{{ url('block_cart') }}",
                        type: 'GET',
                        dataType: 'html'
                    }).done(function(html) {
                        $('.ec-headerRole__cart').html(html);
                    });
                }).fail(function(data) {
                    alert('{{ 'カートへの追加に失敗しました。'|trans }}');
                }).always(function(data) {
                    // Buttonを有効にする
                    $('.add-cart').prop('disabled', false);
                });
            });

			// モーダルウィンドウを開く
			$('.js-modal-open').on('click', function(){
				var target = $(this).data('target');
				var modal = document.getElementById(target);
				scrollPosition = $(window).scrollTop();
			
				$('body').addClass('fixed').css({'top': -scrollPosition});
				$(modal).fadeIn();
				return false;
			});
			
			// モーダルウィンドウを閉じる
			$('.js-modal-close').on('click', function(){
				$('body').removeClass('fixed');
				window.scrollTo( 0 , scrollPosition );
				$('.js-modal').fadeOut();
				return false;
			});

          $('a[href^="#"]').click(function(){
            var adjust = 0;
            var speed = 400;
            var href= $(this).attr("href");
            var target = $(href == "#" || href == "" ? 'html' : href);
            var position = target.offset().top + adjust;
            $('body,html').animate({scrollTop:position}, speed, 'swing');
            return false;
          });
        });

        $('.ec-modal-wrap').on('click', function(e) {
            // モーダル内の処理は外側にバブリングさせない
            e.stopPropagation();
        });
        $('.ec-modal-overlay, .ec-modal, .ec-modal-close, .ec-inlineBtn--cancel').on('click', function() {
            $('.ec-modal').hide()
        });
    </script>


    <script>
    $(function() {
        $('h2').on('click', function() {
            if ($(this).find(".icon").hasClass('open')) {
                $(this).find(".icon").removeClass('open');
            } else {
                $(this).find(".icon").addClass('open');
            }
            $(this).next().slideToggle();
        });
        // var value = $('#item_detail').find('h2').html();
        // value = value + '<div class="icon"></div>';
        // $('#item_detail').find('h2').html(value);
        $('.item_text').hide();
        // $('.review-box').hide();
        $('#item_review').find('.ec-role').hide();
    });
    </script>


    <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "{{ Product.name }}",
        "image": [
            {% for img in Product.ProductImage %}
                "{{ app.request.schemeAndHttpHost }}{{ asset(img, 'save_image') }}"{% if not loop.last %},{% endif %}

            {% else %}
                "{{ app.request.schemeAndHttpHost }}{{ asset(''|no_image_product, 'save_image') }}"
            {% endfor %}
        ],
        "description": "{{ Product.description_list | default(Product.description_detail) | replace({'\n': '', '\r': ''}) | slice(0,300) }}",
        {% if Product.code_min %}
        "sku": "{{ Product.code_min }}",
        {% endif %}
        "offers": {
            "@type": "Offer",
            "url": "{{ url('product_detail', {'id': Product.id}) }}",
            "priceCurrency": "{{ eccube_config.currency }}",
            "price": {{ Product.getPrice02IncTaxMin }},
            "availability": "{{ Product.stock_find ? "InStock" : "OutOfStock" }}"
        }
    }
    </script>
{% endblock %}

{% block main %}
    <div class="ec-productRole">
        <div class="ec-grid2">
            <div class="sp-only">
                <div class="update_date">更新日：<time>{{ Product.update_date|date_format('', 'Y年m月d日') }}</time></div>
                <h1>{{ Product.name }}</h1>
            </div>
            <div class="ec-grid2__cell cell_left">
                <div class="ec-sliderItemRole">

                    <div class="item_visual">
                        {% for ProductImage in Product.ProductImage %}
                            <div class="slide-item"><img src="{{ asset(ProductImage, 'save_image') }}" alt="{{ loop.first ? Product.name : '' }}"></div>
                        {% else %}
                            <div class="slide-item"><img src="{{ asset(''|no_image_product, 'save_image') }}" alt="{{ loop.first ? Product.name : '' }}" /></div>
                        {% endfor %}
                    </div>
                    <div class="item_nav">
                        {% for ProductImage in Product.ProductImage %}
                            <div class="slideThumb" data-index="{{ loop.index0 }}"><img src="{{ asset(ProductImage, 'save_image') }}" alt=""></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="ec-grid2__cell cell_right">
                <div class="ec-productRole__profile">
                    {# 商品名 #}
                    <div class="pc-only">
                        <div class="item_title">
                            <h1>{{ Product.name }}</h1>
                            <div class="update_date">更新日：<time>{{ Product.update_date|date_format('', 'Y年m月d日') }}</time></div>
                        </div>
                    </div>
                   {# タグ #}
                    <ul class="ec-productRole__tags">
                        {% for Tag in Product.Tags %}
                            <li class="ec-productRole__tag tag_{{ Tag.id }}">{{ Tag }}</li>
                        {% endfor %}
                    </ul>
                    {#{{ include('@DesignTag4/tag_list.twig', ignore_missing = true) }}#}
                    {#<div class="item_desc_body1">#}
                    {#    <ul class="item_tag">#}
                    {#        {% for Tag in Product.Tags %}#}
                    {#            <li>{{ Tag }}</li>#}
                    {#        {% endfor %}#}
                    {#    </ul>#}
                    {#</div>#}
                    {{ include('Block/product_table_list.twig') }}

                    {# レビュー #}
                    <div class="product-review">
                        {% set AvgGood = 0 %}
                        {% set AvgCnt = 0 %}
                        {% set AvgReview = getAvgReview(Product.id) %}
                        {% if AvgReview is not empty and AvgReview.star is defined and AvgReview.star is not null %}
                            {% set AvgGood = AvgReview.star * 2 %}
                            {% set AvgGood = AvgGood|round(0, 'floor') %}
                            {% set AvgGood = AvgGood / 2 %}
                        {% else %}
                            {% set AvgGood = 0 %}
                        {% endif %}
                        {% if AvgReview is not empty and AvgReview.cnt is defined and AvgReview.cnt is not null %}
                            {% set AvgCnt = AvgReview.cnt %}
                        {% endif %}
                        {% if AvgGood > 0 %}
                        <a href="#item_review">{{ getStar(AvgGood)|raw }}({{ AvgCnt }})</a>
                        {% endif %}
                    </div>
 
                    <form action="{{ url('product_add_cart', {id:Product.id}) }}" method="post" id="form1" name="form1">
                        {% if Product.stock_find %}
                            <div class="ec-productRole__actions">
                                {% if form.classcategory_id1 is defined %}
                                    <div class="ec-select">
                                        {{ form_widget(form.classcategory_id1) }}
                                        {{ form_errors(form.classcategory_id1) }}
                                    </div>
                                    {% if form.classcategory_id2 is defined %}
                                        <div class="ec-select">
                                            {{ form_widget(form.classcategory_id2) }}
                                            {{ form_errors(form.classcategory_id2) }}
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <div class="ec-numberInput"><span>{{ '数量'|trans }}</span>
                                    {{ form_widget(form.quantity) }}
                                    {{ form_errors(form.quantity) }}
                                </div>
                            </div>
                            <div class="ec-productRole__btn">
                                <button type="submit" class="ec-blockBtn--action add-cart">
                                    {{ 'カートに入れる'|trans }}
                                </button>
                            </div>
                        {% else %}
                            <div class="ec-productRole__btn">
                                <button type="button" class="ec-blockBtn--action" disabled="disabled">
                                    {{ 'ただいま品切れ中です。'|trans }}
                                </button>
                            </div>
                        {% endif %}

                        {{ form_rest(form) }}
                    </form>
                    <div class="ec-modal">
                        <div class="ec-modal-overlay">
                            <div class="ec-modal-wrap">
                                <span class="ec-modal-close"><span class="ec-icon"><img src="{{ asset('assets/icon/cross-dark.svg') }}" alt=""/></span></span>
                                <div id="ec-modal-header" class="text-center">{{ 'カートに追加しました。'|trans }}</div>
                                <div class="ec-modal-box">
                                    <div class="ec-role">
                                        <span class="ec-inlineBtn--cancel">{{ 'お買い物を続ける'|trans }}</span>
                                        <a href="{{ url('cart') }}" class="ec-inlineBtn--action">{{ 'カートへ進む'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if BaseInfo.option_favorite_product %}
                        <form action="{{ url('product_add_favorite', {id:Product.id}) }}" method="post">
                            <div class="ec-productRole__btn">
                                {% if is_favorite == false %}
                                    <button type="submit" id="favorite" class="ec-blockBtn--cancel">
                                        {{ 'お気に入りに追加'|trans }}
                                    </button>
                                {% else %}
                                    <button type="submit" id="favorite" class="ec-blockBtn--cancel"
                                            disabled="disabled">{{ 'お気に入りに追加済です。'|trans }}
                                    </button>
                                {% endif %}
                            </div>
                        </form>
                    {% endif %}
                    <div class="ec-productRole__description">{{ Product.description_detail|raw|nl2br }}
                    </div>
                </div>
            </div>
        </div>

        <section id="item_order" class="no_padding">
            <h2>ご注文<i id="order_arrow" class="fa fa-hand-o-left dsp_non" aria-hidden="true"></i></h2>
            <h3>{{ Product.name }}</h3>
            <table class="order_tbl pc-only">
                <tr>
                    <th>内容量</th>
                    <th colspan="2">販売価格</th>
                    <th>ポイント</th>
                    <th>注文</th>
                </tr>
                {% for ProductClass in Product.ProductClasses %}
                    {% set ClassCategory1 = ProductClass.ClassCategory1 %}
                    <tr>
                        <td>
                            {{ ClassCategory1.name }}
                        </td>
                        <td>
                            <div class="basic">
                                <del>
                                    <span>{{ ProductClass.price01|number_format }}<small>円</small></span>
                                </del>
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </td>
                        <td>
                            <div class="sale">
                                <strong>{{ ProductClass.price02|number_format }}<small>円</small></strong>
                                <span class="unit">
                                    {% set unitPrice = convertPrice(ClassCategory1.name, ProductClass.unit, ProductClass.price02) %}
                                    （{{ unitPrice|number_format }}<small>円</small>）
                                    <span class="title">1{{ ProductClass.unit }}あたり</span>
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="point">
                                {#{{ ProductClass.add_point }}#}
                                {{ getPoint(ProductClass.price02) }}
                            </div>
                        </td>
                        <td>
                            <button type="submit" id="pc_{{ ProductClass.id}}" class="btn ga4_addtocart add-cart">
                                {#<i class="fas fa-shopping-cart"></i>#}
                                カートに入れる
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <table class="order_tbl sp-only">
                <tr>
                    <th>内容量</th>
                    <th>販売価格</th>
                    <th>注文</th>
                </tr>
                {% for ProductClass in Product.ProductClasses %}
                    {% set ClassCategory1 = ProductClass.ClassCategory1 %}
                    <tr>
                        <td>
                            {{ ClassCategory1.name }}
                        </td>
                        <td>
                            <div class="basic">
                                <del>
                                    <span>{{ ProductClass.price01|number_format }}<small>円</small></span>
                                </del>
                            </div>
                            <div class="">
                                <strong>{{ ProductClass.price02|number_format }}<small>円</small></strong>
                                <span class="unit">
                                    {% set unitPrice = convertPrice(ClassCategory1.name, ProductClass.unit, ProductClass.price02) %}
                                    <span class="title">(1{{ ProductClass.unit }}あたり{{ unitPrice|number_format }}<small>円</small>)</span>
                                </span>
                            </div>
                        </td>
                        <td>
                            <button type="submit" id="pc_{{ ProductClass.id}}" class="btn ga4_addtocart add-cart">
                                {#<i class="fas fa-shopping-cart"></i>#}
                                カートに入れる
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </section>

        {# レビューの最大と最小 #}
        {#{% set MaxProductReview = getMaxReview(Product.id) %}#}
        {#{% set MinProductReview = getMinReview(Product.id) %}#}

{#min={{MinProductReview}}<br>#}
{#max={{MaxProductReview}}#}
        {# 商品詳細 #}
        {% if Product.freearea %}
             <div class="ec-productRole__description">
                 {{ include(template_from_string(Product.freearea)) }}
            </div>
        {% endif %}

        {# サイトの特徴 #}
         {# <ul class="detail_icon">
            <li><a href="" class="js-modal-open" data-target="modal01"><img src="{{ asset('assets/img/detail/ジェネクリ_01.png', 'user_data') }}"></a></li>
            <li><a href="" class="js-modal-open" data-target="modal02"><img src="{{ asset('assets/img/detail/ジェネクリ_02.png', 'user_data') }}"></a></li>
            <li><a href="" class="js-modal-open" data-target="modal03"><img src="{{ asset('assets/img/detail/ジェネクリ_03.png', 'user_data') }}"></a></li>
            <li><a href="" class="js-modal-open" data-target="modal04"><img src="{{ asset('assets/img/detail/ジェネクリ_04.png', 'user_data') }}"></a></li>
            <li><a href="" class="js-modal-open" data-target="modal05"><img src="{{ asset('assets/img/detail/ジェネクリ_05.png', 'user_data') }}"></a></li>
            <li><a href="" class="js-modal-open" data-target="modal06"><img src="{{ asset('assets/img/detail/ジェネクリ_06.png', 'user_data') }}"></a></li>
        </ul>#}

        <div class="detail_icon_modal">
            <div id="modal01" class="modal js-modal">
                <div class="modal-bg js-modal-close">
                </div>
                <div class="modal-content">
                    <div class="modal-content-h">①中身が見えない梱包</div>
                    <p>プライバシーに配慮し、中身が見えないよう梱包・発送しております。<br>
                        荷物のラベルに商品名の記載はないため、ご家族や配送員に知られることなく商品をお受け取りいただけます。</p>
                        <div class="js-modal-close">×</div>
                </div>
            </div>
            <div id="modal02" class="modal js-modal">
                <div class="modal-bg js-modal-close">
                </div>
                <div class="modal-content">
                    <div class="modal-content-h">②正規品保証、成分鑑定済</div>
                    <p>お薬なびでは、正規品のみを取り扱っております。<br>
                        成分鑑定、倉庫の視察など、粗悪品が紛れないよう万全のチェックを行っておりますのでご安心ください。</p>
                    <div class="js-modal-close">×</div>
                </div>
            </div>
            <div id="modal03" class="modal js-modal">
                <div class="modal-bg js-modal-close">
                </div>
                <div class="modal-content">
                    <div class="modal-content-h">③銀行振込でお支払い</div>
                    <p>銀行振込でのお支払いに対応しています。</p>
                    <div class="js-modal-close">×</div>
                </div>
            </div>
            <div id="modal04" class="modal js-modal">
                <div class="modal-bg js-modal-close">
                </div>
                <div class="modal-content">
                    <div class="modal-content-h">④銀行振込で5％OFF</div>
                    <p>銀行振込で代金をお支払いいただくと、合計金額より5％割引きでお得にご購入いただけます。<br>
                        さらに、1ポイント1円から使えるポイントの獲得率も3%から5％にアップします。</p>
                    <div class="js-modal-close">×</div>
                </div>
            </div>
            <div id="modal05" class="modal js-modal">
                <div class="modal-bg js-modal-close">
                </div>
                <div class="modal-content">
                    <div class="modal-content-h">⑤10,000円以上で送料無料</div>
                    <p>お薬なびの商品は、全国一律1,000円で配送させていただきます。<br>
                        10,000円以上ご購入で送料無料となりますので、まとめ買いが非常にお得です。</p>
                    <div class="js-modal-close">×</div>
                </div>
            </div>
            <div id="modal06" class="modal js-modal">
                <div class="modal-bg js-modal-close">
                </div>
                <div class="modal-content">
                    <div class="modal-content-h">⑥ご入金後即日発送</div>
                    <p>ご入金の確認が取れ次第、即日発送を行っております。<br>
                        海外発送になりますので、お届けは2～3週間が目安となっております。</p>
                    <div class="js-modal-close">×</div>
                </div>
            </div>
        </div>

        {#{% if MinProductReview != null or MaxProductReview != null %}#}
        {#<div class="max-min-review-area">#}
        {#    <h2 class="review-title">{{ Product.name }}を使用したお客様の声<div class="icon"></div></h2>#}
        {#    <div class="review-box">#}
        {#        <div class="left--box">#}
        {#            {% if MaxProductReview != null %}#}
        {#                {% set maxGood = MaxProductReview.recommend_level %}#}
        {#                {% set maxBad = 5 - MaxProductReview.recommend_level %}#}
        {#                <div class="good-title">良い評価</div>#}
        {#                <div class="good-name">{{ MaxProductReview.reviewer_name }}さん</div>#}
        {#                <div class="good-level">{{ getStar(maxGood, maxBad)|raw }}</div>#}
        {#                <div class="good-comment">{{ MaxProductReview.comment }}</div>#}
        {#            {% else %}#}
        {#                <div class="good-title">良い評価</div>#}
        {#                <div class="good-name">&nbsp;</div>#}
        {#                <div class="good-level">&nbsp;</div>#}
        {#                <div class="good-comment">&nbsp;</div>#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div class="right--box">#}
        {#            {% if MinProductReview != null %}#}
        {#                {% set minGood = MinProductReview.recommend_level %}#}
        {#                {% set minBad = 5 - MinProductReview.recommend_level %}#}
        {#                <div class="bad-title">悪い評価</div>#}
        {#                <div class="bad-name">{{ MinProductReview.reviewer_name }}</div>#}
        {#                <div class="bad-level">{{ getStar(minGood, minBad)|raw }}</div>#}
        {#                <div class="bad-comment">{{ MinProductReview.comment }}</div>#}
        {#            {% else %}#}
        {#                <div class="bad-title">悪い評価</div>#}
        {#                <div class="bad-name">&nbsp;</div>#}
        {#                <div class="bad-level">&nbsp;</div>#}
        {#                <div class="bad-comment">&nbsp;</div>#}
        {#            {% endif %}#}
        {#        </div>#}
        {#    </div>#}
            {#<a href="#item_review">他の口コミ・レビューを見る</a>#}
        {#</div>#}
        {#{% endif %}#}

        {% if Product.take_or_use %}
            <section id="item_howto" class="no_padding">
                <h2>服用方法・使用方法<div class="icon"></div></h2>
                <div class="item_text">
                    {{ Product.take_or_use|raw }}
                </div>
            </section>
        {% endif %}
        {% if Product.side_effects %}
            <section id="item_sideeffect" class="no_padding">
                <h2>副作用<div class="icon"></div></h2>
                <div class="item_text">
                    {{ Product.side_effects|raw }}
                </div>
            </section>
        {% endif %}
        {% if Product.prohibited %}
            <section id="item_caution" class="no_padding">
                <h2>併用禁止薬<div class="icon"></div></h2>
                <div class="item_text">
                    {{ Product.prohibited|raw }}
                </div>
            </section>
        {% endif %}
        {% if Product.storage %}
            <section id="item_keep" class="no_padding">
                <h2>保管方法<div class="icon"></div></h2>
                <div class="item_text">
                    {{ Product.storage|raw }}
                </div>
            </section>
        {% endif %}
        {% if Product.maker %}
            <section id="item_maker" class="no_padding">
                <h2>メーカー<div class="icon"></div></h2>
                <div class="item_text">
                    {{ Product.maker|raw }}
                </div>
            </section>
        {% endif %}
        {% if Product.shipping_country %}
            <section id="item_shipped" class="no_padding">
                <h2>発送国<div class="icon"></div></h2>
                <div class="item_text">
                    {{ Product.shipping_country|raw }}
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}